includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 8 for production-ready analysis
    level: 8

    ignoreErrors:
        - '#view-string\|null, string given#'
        - '#generic class.*but does not specify its types: TFactory#'
        - '#does not specify its types: TFactory#'
        
    excludePaths:
        - ./*/*/FileToBeExcluded.php
