includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 8

    ignoreErrors:
        - '#PHPDoc tag @var#'
        - '#does not specify its types: TFactory#'
        - '#Template type TDeclaringModel#'
        - '#generic class.*but does not specify its types#'
        - '#does not specify all template types#'
        - '#view-string\|null, string given#'
        
    excludePaths:
        - ./*/*/FileToBeExcluded.php
